.21_2 {
	overflow: hidden;
}

.e21_2 {
	background-color: rgba(217.8125050663948, 213.0932343006134, 208.73698085546494, 1);
	width: 1440px;
	height: 1976px;
	position: absolute;
}

.e21_10 {
	width: 465px;
	height: 21px;
	position: absolute;
	left: 770px;
	top: 600px;
}

.e22_5 {
	width: 1221px;
	height: 216px;
	position: absolute;
	left: 109px;
	top: 448px;
	background-image: url(images/v8vz_roj8zo.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e21_13 {
	width: 1221px;
	height: 216px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e22_4 {
	color: rgba(255, 255, 255, 1);
	width: 323.24176025390625px;
	height: 86.14734649658203px;
	position: absolute;
	left: 987px;
	top: 513px;
	font-family: Sen;
	text-align: left;
	font-size: 70px;
	letter-spacing: 0;
}

.e22_9 {
	background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width: 1218px;
	height: 398px;
	position: absolute;
	left: 110px;
	top: 803px;
}

.e22_28 {
	width: 1218px;
	height: 398px;
	position: absolute;
	left: 111px;
	top: 1364px;
}

.e22_22 {
	background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width: 1218px;
	height: 398px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e27_2 {
	width: 469px;
	height: 289px;
	position: absolute;
	left: 151px;
	top: 1421px;
	background-image: url(images/image_3.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e32_64 {
	background-color: rgba(255, 255, 255, 1);
	width: 175px;
	height: 59px;
	position: absolute;
	left: 111px;
	top: 1278px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.e32_69 {
	background-color: rgba(255, 255, 255, 1);
	width: 227px;
	height: 59px;
	position: absolute;
	left: 109px;
	top: 719px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.e32_70 {
	color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width: 272px;
	height: 55px;
	position: absolute;
	left: 126px;
	top: 725px;
	font-family: Sen;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
}

.e22_30 {
	color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width: 131px;
	height: 55px;
	position: absolute;
	left: 136px;
	top: 1282px;
	font-family: Sen;
	text-align: left;
	font-size: 40px;
	letter-spacing: 0;
}

.e27_4 {
	width: 469px;
	height: 289px;
	position: absolute;
	left: 657px;
	top: 1421px;
	background-image: url(images/image_4.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e32_122 {
	width: 469px;
	height: 289px;
	position: absolute;
	left: 151px;
	top: 855px;
	background-image: url(images/image_17.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e32_129 {
	width: 469px;
	height: 289px;
	position: absolute;
	left: 656px;
	top: 855px;
	background-image: url(images/image_20.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e40_2934 {
	border-radius: 500px;
	background-color: rgba(255, 255, 255, 1);
	width: 284px;
	height: 284px;
	position: absolute;
	left: 42px;
	top: 119px;
}

.e40_2935 {
	background-color: rgba(255, 255, 255, 1);
	width: 1418px;
	height: 87px;
	position: absolute;
	left: 64px;
	top: 218px;
}

.e40_2936 {
	border-radius: 500px;
	background-color: rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width: 243px;
	height: 243px;
	position: absolute;
	left: 63px;
	top: 140px;
}

.e40_2937 {
	border-radius: 500px;
	background-color: rgba(255, 255, 255, 1);
	width: 225px;
	height: 225px;
	position: absolute;
	left: 72px;
	top: 149px;
}

.e40_2938 {
	color: rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width: 154px;
	height: 49px;
	position: absolute;
	left: 941px;
	top: 237px;
	font-family: Sen;
	text-align: left;
	font-size: 48px;
	letter-spacing: 0;
}

.e40_2939 {
	color: rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width: 164px;
	height: 49px;
	position: absolute;
	left: 1159px;
	top: 237px;
	font-family: Sen;
	text-align: left;
	font-size: 48px;
	letter-spacing: 0;
}

.e40_2940 {
	color: rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width: 117px;
	height: 49px;
	position: absolute;
	left: 738px;
	top: 237px;
	font-family: Sen;
	text-align: left;
	font-size: 48px;
	letter-spacing: 0;
}

.e40_2941 {
	color: rgba(182.00000435113907, 163.00000548362732, 148.000006377697, 1);
	width: 277px;
	height: 121px;
	position: absolute;
	left: 340px;
	top: 203px;
	font-family: Sen;
	text-align: left;
	font-size: 96px;
	letter-spacing: 0;
}

.e40_2942 {
	color: rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width: 154px;
	height: 49px;
	position: absolute;
	left: 941px;
	top: 237px;
	font-family: Sen;
	text-align: left;
	font-size: 48px;
	letter-spacing: 0;
}

.e40_2943 {
	color: rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width: 164px;
	height: 49px;
	position: absolute;
	left: 1159px;
	top: 237px;
	font-family: Sen;
	text-align: left;
	font-size: 48px;
	letter-spacing: 0;
}

.e66_9 {
	width: 164.93099975585938px;
	height: 398px;
	position: absolute;
	left: 1164px;
	top: 803px;
	background-image: url(images/image_25.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e66_10 {
	width: 164.93099975585938px;
	height: 398px;
	position: absolute;
	left: 1165px;
	top: 1364px;
	background-image: url(images/image_26.png);
	background-repeat: no-repeat;
	background-size: cover;
}